body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

*{
  box-sizing: border-box;
}

.todoComponent{
  width: 350px;
  border: solid 2px purple;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.todoEntry input{
  width: calc(100% - 25px);
  padding: 0 2px;
}
.todoItem{
  display: flex;
  align-items: center;
  align-content: space-between;
}

.TodoTitle{
  height: 20px;
  margin-left: 1px;
  flex: 1;
  border: none;
  background-color:  #fafafa;;
}

.TodoTitle.done{
  text-decoration: line-through;
}

.button{
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
  display: inline-block;
  width: 20px;
  text-align: center;
  text-shadow: 0px 0px 1px black;
}

.button:hover{
  color: rgba(0,0,150,0.5);
  text-shadow: 0 0 2px navy;
}

.customCheckbox>input{
  display: none;
}

.customCheckbox>input+label:before{
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 20px;
  content: '\2610';
}

.customCheckbox>input:checked+label:before{
  content: '\2611';
}